{
  "extends": "eslint",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "no-invalid-this": "off",
    "quotes": ["error", "single"],
    "guard-for-in": "off",
    "no-console": "off",
    "no-undefined": "off",
    "array-bracket-spacing": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "func-style": [
      "error",
      "expression"
    ],
    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
